body {
	font-family: 'Lato', sans-serif;
	background: #006306;
}

#title {
	text-align: center;
	color: white;
}

#formBackground {
	display: block;
	background: white;
	margin: 10px auto;
	padding: 30px;
	border: 0px solid;
	border-radius: 10px;
}

#description {
	text-align: center;
	font-size: 18px;
}

#survey-form {
	display: block;
	margin: 20px 50px;
}

#rowTable {
	margin: 10px 40px 10px;
}

#labels {
	display: inline-block;
	text-align: right;
	vertical-align: top;
	padding: 5px;
	width: 50%;
}

#inputTable {
	display: inline-block;
	padding: 5px;
}

.button {
	-webkit-transition-duration: 0.4s; /*Safari*/
	transition-duration: 0.4s;
}

#submit {
	display: block;
	margin: auto;
	background-color: white;
	color: #578e59;
	font-size: 20px;
	width: 100%;
	padding: 10px 24px;
	border-radius: 5px;
	border: solid;
}

#submit:hover {
	background-color: #578e59;
	color: white;
}

ul {
	list-style: none;
	margin: auto;
	padding: 0;
}

textarea {
	height: 50px; 
	resize: vertical;
}