body {
	font-family: 'Lato', sans-serif;
	background: #006306;
}

#title {
	text-align: center;
	color: white;
}

#formBackground {
	display: block;
	background: white;
	margin: 10px auto;
	padding: 30px;
	border: 0px solid;
	border-radius: 10px;
}

#description {
	text-align: center;
	font-size: 18px;
}

#survey-form {
	display: block;
	margin: 20px 50px;
}

#labels {
	margin-right: 50%;
	text-align: right;
}

#inputTable {
	margin-left: 50%;
}

#submit {
	display: block;
	margin: auto;
}